# Dependencies
node_modules/

# Playwright Reports
playwright-report/
blob-report/
test-results/

# Playwright Cache & Auth
playwright/.cache/
playwright/.auth/

# Screenshots & Videos
screenshots/

# Docker learning notes
/tests/31-docker notes/

# Optional
*.log